{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{ with .Site.Params.contact.headline }}{{ . }}{{ end }}</h2>
                <hr class="primary">
                <p>{{ with .Site.Params.contact.description }}{{ . | markdownify }}{{ end }}</p>
            </div>
        </div>
        <div class="row">
            {{ range .Site.Params.contact.list }}
                <div class="col-lg-3 col-sm-4">
                    <div class="text-center">
                        <i class="fa {{ .icon }} fa-3x wow bounceIn"></i>
                        <p>{{ .text | markdownify }}</p>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
</section>
