<div class="container">
    <div class="row">
        <h2><s>1- Self hosted mode using a Virtual Appliance</s> (Temporarily unavailable)</h2>
        <div class="col-sm-3 col-sm-offset-3">
          <div class="panel panel-default panel-price text-center">
            <div class="panel-heading">
              <h3>Basic</h3>
            </div>
            <div class="panel-body">
              <h3 class="panel-title price">$15 USD</span></h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item">Ubuntu 16.04 Server</li>
              <li class="list-group-item">20 GB Virtual Disk</li>
              <li class="list-group-item">Holds About 20,000 PDFs</li>
              <li class="list-group-item">English OCR</li>
              <li class="list-group-item">1 CPU Core, 1 GB RAM</li>
              <li class="list-group-item">Ideal for Users with No Prior Experience</li>
              <li class="list-group-item">Single Users<br>Home Office</li>
              <li class="list-group-item"><a class="btn btn-primary" disabled="disabled" href="#"><s>Buy Now!</s></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="panel panel-default panel-price text-center">
            <div class="panel-heading">
              <h3>Standard</h3>
            </div>
            <div class="panel-body">
              <h3 class="panel-title price">$299 USD</h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item">Ubuntu 16.04 Server</li>
              <li class="list-group-item">60 GB of Virtual Disk</li>
              <li class="list-group-item">Holds About 60,000 PDFs</li>
              <li class="list-group-item">OCR for 109 Languages</li>
              <li class="list-group-item">2 CPU Cores, 2 GB RAM</li>
              <li class="list-group-item">Ideal for Users with Experience with Mayan EDMS</li>
              <li class="list-group-item">Multi User Environments<br>Small Business</li>
              <li class="list-group-item"><a class="btn btn-primary" disabled="disabled" href="#"><s>Buy Now!</s></a></li>
            </ul>
          </div>
        </div>

      </div>
</div>
