<br />
<br />
<div class="container">
    <div class="row">
        <h2>我们为你精心准备了基于阿里云的预安装系统，请选择适合你的授权许可。</h2>
        <div class="col-sm-3">
          <div class="panel panel-default panel-price text-center">
            <div class="panel-heading">
              <h3>学习授权</h3>
            </div>
            <div class="panel-body">
              <h3 class="panel-title price">免费</span></h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item">1个用户账号</li>
              <li class="list-group-item">最多50M文档存储空间</li>
              <li class="list-group-item"><a class="btn btn-primary" href="mailto:info@mayan-edms.cn">获取授权</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="panel panel-default panel-price text-center">
            <div class="panel-heading">
              <h3>基础授权</h3>
            </div>
            <div class="panel-body">
              <h3 class="panel-title price">5000元/年</span></h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item">最多10个用户账号</li>
              <li class="list-group-item">最多500M文档存储空间</li>
              <li class="list-group-item">共享主机</li>
              <li class="list-group-item"><a class="btn btn-primary" href="mailto:info@mayan-edms.cn">获取授权</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="panel panel-default panel-price text-center">
            <div class="panel-heading">
              <h3>金牌授权</h3>
            </div>
            <div class="panel-body">
              <h3 class="panel-title price">10000元/年</span></h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item">最多40个用户账号</li>
              <li class="list-group-item">最多10G文档存储空间</li>
              <li class="list-group-item">共享主机</li>
              <li class="list-group-item">自定义二级域名</li>
              <li class="list-group-item">首页可定制</li>
              <li class="list-group-item"><a class="btn btn-primary" href="mailto:info@mayan-edms.cn">获取授权</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="panel panel-default panel-price text-center">
            <div class="panel-heading">
              <h3>VIP授权</h3>
            </div>
            <div class="panel-body">
              <h3 class="panel-title price">30000元/年</h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item">最多200个用户账号</li>
              <li class="list-group-item">最多80G文档存储空间</li>
              <li class="list-group-item">独立主机</li>
              <li class="list-group-item">自定义域名</li>
              <li class="list-group-item">界面可定制</li>
              <li class="list-group-item">功能流程可定制</li>
              <li class="list-group-item">可选择机房（杭州、上海、北京、青岛、深圳、香港）</li>
              <li class="list-group-item"><a class="btn btn-primary" href="mailto:info@mayan-edms.cn">获取授权</a></li>
            </ul>
          </div>
        </div>

      </div>
</div>
<br />
<br />
